apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: robobird
  namespace: tfb-services
  labels:
    run: robobird
spec:
  serviceName: "robobird"
  replicas: 1
  selector:
    matchLabels:
      run: robobird
  template:
    metadata:
      labels:
        run: robobird
    spec:
      containers:
      - name: robobird
        image: harbor.theflyingbirds.net/tfb/robobird:latest
        env:
        - name: IP
          value: "mc.theflyingbirds.net"
        volumeMounts:
          - name: robobird-pv
            mountPath: /files
        resources:
          requests:
            memory: "2Gi"
      imagePullSecrets:
      - name: regcred
  volumeClaimTemplates:
  - metadata:
      name: robobird-pv
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: local-path
      resources:
        requests:
          storage: 10Gi
